<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"> <!-- Link the CSS file -->
    <title>face</title>
</head>
<body>
<div class="nav">
    <ul>
        <li>
            <a href="/" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/login" class="nav-link">UserLogin</a>
        </li>
        <li>
            <a href="/admin_login" class="nav-link">Admin</a>
        </li>
        <li>
            <a href="/register" class="nav-link">Registration</a>
        </li>
    </ul>
</div>
<div class="header">
    <h4>Facial recognition based Product recommendation system using past purchases</h4>
</div>
{% block code %}
{% endblock %}

<!-- Content sections -->
<div class="content-home">
    <!-- Content for the Home page -->
</div>
<div class="content-login">
    <!-- Content for the Login page -->
</div>
<div class="content-registration">
    <!-- Content for the Registration page -->
</div>

<script src="/static/script.js"></script> <!-- Link the JavaScript file -->
</body>
</html>
