{% extends "base1.html" %}
{% block code %}
<div class="rec">
    <form method="post" action="{%url 'uhome'%}">
        {% csrf_token %}
        <input type="text" name="text" placeholder="Search Product">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="tshirts">
    <h4><a href="/tshits"><img src="/static/img/ts.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>TSHIRTS</h6>
</div>

<div class="shirts">
    <h4><a href="/shirts"><img src="/static/img/sh.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>SHIRTS</h6>
</div>

<div class="Shoes">
    <h4><a href="/shoe"><img src="/static/img/sho.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Shoes and Slipers</h6>
</div>

<div class="kid">
    <h4><a href="/kidcl"><img src="/static/img/kid.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Kids Clothing</h6>
</div>

<div class="Mens">
    <h4><a href="/mencl"><img src="/static/img/mm.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Mens Fashion</h6>
</div>

<div class="Womens">
    <h4><a href="/womencl"><img src="/static/img/wom.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Womens Fashion</h6>
</div>

<div class="cam">
    <h4><a href="/camncl"><img src="/static/img/cam.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Camera And Accessories</h6>
</div>

<div class="car">
    <h4><a href="/carncl"><img src="/static/img/car.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Car and Bike Care</h6>
</div>

<div class="head">
    <h4><a href="/headcl"><img src="/static/img/hea.jpeg" style="width: 100px; height:120px;"></a></h4>
    <br>
    <h6>Headphones</h6>
</div>

{% if ms == 'sucess' %}
<script type="text/javascript">
    alert('product saved')
</script>
{% endif %}

{% if ms == 'sucess1' %}
<script type="text/javascript">
    alert('Order Conferm')
</script>
{% endif %}
{% endblock %}
